In [1]:
#Importing Python packages
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [2]:
#Importing data and selecting pre-specified columns
fields = ["RT", "SERIALNO", "SPORDER","PWGTP","CIT","COW","DIVISION","PUMA","ST","REGION","AGEP","ADJINC","JWMNP","JWTR",
          "MAR","MARHT","MIG","MIL","RELP","SCHL","SEX","PAP","WAGP","WKHP","WKL","DIS","DRIVESP","ESR","FOD1P","HICOV","JWAP",
          "JWDP","MIGPUMA","MSP","NATIVITY","OC","OCCP","PAOC","PERNP","PINCP","RAC1P","WAOB","PWGTP1","PWGTP2","PWGTP3","PWGTP4",
          "PWGTP5","PWGTP6","PWGTP7","PWGTP8","PWGTP9","PWGTP10","PWGTP11","PWGTP12","PWGTP13","PWGTP14","PWGTP15","PWGTP16",
          "PWGTP17","PWGTP18","PWGTP19","PWGTP20","PWGTP21","PWGTP22","PWGTP23","PWGTP24","PWGTP25","PWGTP26","PWGTP27","PWGTP28",
          "PWGTP29","PWGTP30","PWGTP31","PWGTP32","PWGTP33","PWGTP34","PWGTP35","PWGTP36","PWGTP37","PWGTP38","PWGTP39","PWGTP40",
          "PWGTP41","PWGTP42","PWGTP43","PWGTP44","PWGTP45","PWGTP46","PWGTP47","PWGTP48","PWGTP49","PWGTP50","PWGTP51","PWGTP52",
          "PWGTP53","PWGTP54","PWGTP55","PWGTP56","PWGTP57","PWGTP58","PWGTP59","PWGTP60","PWGTP61","PWGTP62","PWGTP63","PWGTP64",
          "PWGTP65","PWGTP66","PWGTP67","PWGTP68","PWGTP69","PWGTP70","PWGTP71","PWGTP72","PWGTP73","PWGTP74","PWGTP75","PWGTP76",
          "PWGTP77","PWGTP78","PWGTP79","PWGTP80"]

acs1 = pd.read_csv('data/psam_pusa.csv', sep=',', index_col=0, skipinitialspace=True, usecols=fields)
acs2 = pd.read_csv('data/psam_pusb.csv', sep=',', index_col=0, skipinitialspace=True, usecols=fields)

print (acs1.head())
print (acs2.head())

        SERIALNO  DIVISION  SPORDER  PUMA  REGION  ST   ADJINC  PWGTP  AGEP  \
RT
P   2.017000e+12         6        1  2500       3   1  1011189    206    73
P   2.017000e+12         6        1  1800       3   1  1011189     45    31
P   2.017000e+12         6        1  2400       3   1  1011189    136    41
P   2.017000e+12         6        2  2400       3   1  1011189    121    48
P   2.017000e+12         6        3  2400       3   1  1011189    111    16

    CIT  ...  PWGTP71  PWGTP72  PWGTP73  PWGTP74  PWGTP75  PWGTP76  PWGTP77  \
RT       ...
P     1  ...       60       46      260      300      256      370      366
P     1  ...       55       31       11       19       43      103       14
P     1  ...      101       47      160      333      176       33      131
P     1  ...      147       49      213      197      108       38      150
P     1  ...       62       36      128      266      157       27      117

    PWGTP78  PWGTP79  PWGTP80
RT
P       293      250       62
P        49       49       98
P        74       30      185
P        53       43      114
P        54       22      149

[5 rows x 121 columns]
         SERIALNO  DIVISION  SPORDER  PUMA  REGION  ST   ADJINC  PWGTP  AGEP  \
RT
P   2017000000075         4        1  1003       2  29  1011189    122    48
P   2017000000075         4        2  1003       2  29  1011189    141    44
P   2017000000075         4        3  1003       2  29  1011189    148    17
P   2017000000075         4        4  1003       2  29  1011189    119    11
P   2017000000167         4        1   200       2  29  1011189     53    77

    CIT  ...  PWGTP71  PWGTP72  PWGTP73  PWGTP74  PWGTP75  PWGTP76  PWGTP77  \
RT       ...
P     1  ...      197      126      129      134      105       38      226
P     1  ...      242      146      138      144      148       40      243
P     1  ...      248      185      129      146      138       44      245
P     1  ...      226      105      112      117      115       35      188
P     1  ...       91       54       57      101       49       16      101

    PWGTP78  PWGTP79  PWGTP80
RT
P       115      126      244
P       149      148      241
P       149      150      225
P       132      131      204
P        96       13       15

[5 rows x 121 columns]

In [6]:
#Getting the number of rows and colmuns in each data frame
#acs1
acs1.shape #rows and columns
acs1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, P to P
Columns: 122 entries, SERIALNO to PWGTP80
dtypes: float64(23), int64(99)
memory usage: 27.9+ KB

In [5]:
#acs2
acs2.shape #rows and columns

NameError: name 'acs2' is not defined

In [5]:
#Concatenating the daata frames

ACSdata = pd.concat([acs1, acs2], axis=0, ignore_index=False)
#print(ACSdata.head())
ACSdata.shape

(3190040, 41)

In [6]:
#Data Type Information on the dataset
ACSdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3190040 entries, P to P
Data columns (total 41 columns):
SERIALNO    int64
DIVISION    int64
SPORDER     int64
PUMA        int64
REGION      int64
ST          int64
ADJINC      int64
PWGTP       int64
AGEP        int64
CIT         int64
COW         float64
JWMNP       float64
JWTR        float64
MAR         int64
MARHT       float64
MIG         float64
MIL         float64
PAP         float64
RELP        int64
SCHL        float64
SEX         int64
WAGP        float64
WKHP        float64
WKL         float64
DIS         int64
DRIVESP     float64
ESR         float64
FOD1P       float64
HICOV       int64
JWAP        float64
JWDP        float64
MIGPUMA     float64
MSP         float64
NATIVITY    int64
OC          float64
OCCP        float64
PAOC        float64
PERNP       float64
PINCP       float64
RAC1P       int64
WAOB        int64
dtypes: float64(23), int64(18)
memory usage: 1022.2+ MB

In [7]:
#Checking for duplicates in the person records (grouped by household)

#How many unique households are in the dataset?
ACSdata['SERIALNO'].nunique()

1394399

In [8]:
#What is the min/max of people in any household?
ACSdata['SPORDER'].describe().astype('int64')

count    3190040
mean           2
std            1
min            1
25%            1
50%            2
75%            3
max           20
Name: SPORDER, dtype: int64

In [9]:
#ACSdata['duplicate'] = ACSdata.duplicated(subset=['SPORDER', 'SERIALNO'], keep=False)
#print('duplicate')

#Confirmed no duplicate SPORDERS in ACSdata

duplicate

In [11]:
ACSdata.shape

(3190040, 43)

In [13]:
#EXPLORING THE DATA

#Generating summary statistics - age
#ACSdata['AGEP'].describe().astype('int64')

#Age range (0-96), data set needs to be filtered to include persons of marriageable age(> 18)

count    3190040
mean          41
std           23
min            0
25%           21
50%           42
75%           60
max           96
Name: AGEP, dtype: int64

In [14]:
#Rows in which value of AGEP column in  less than 18
is_lt18 = ACSdata.apply(lambda x: True if x['AGEP'] < 18 else False, axis=1)

#Count number of True in the series
numofRows = len(is_lt18[is_lt18 ==True].index)

print('Number of Rows in ACSdata in which Age < 18:', numofRows)

Number of Rows in ACSdata in which Age < 18: 659314

In [15]:
#Wrangling - Removing persons from the dataset who are < 18 years and creating a new df (ACSmarry)
ACSmarry = ACSdata[ACSdata.AGEP >= 18]
print(ACSmarry.shape)

(2530726, 43)

In [16]:
#EXPLORING THE DATAFRAME (ACSmarry)
#Generating frequency table - marriage
ACSmarry['MAR'].value_counts()

1    1360300
5     671044
3     285664
2     169374
4      44344
Name: MAR, dtype: int64

In [17]:
#Printing ACSmarry to csv

#fields = ['AGEP','MAR','SERIALNO','SPORDER']
#Create a sample of top 100 to explore a smaller file size
#ACSsample = ACSmarry.head(10000)
# update to the path on your local drive
#ACSsample.to_csv(r'testdata/sample1.csv', columns=fields)

In [43]:
#Using ADJINC to calculate wages/earning and income variables
#Note--> this code will need to be adjusted for the multi-year file

ACSmarry['WAGESP'] = ACSmarry.WAGP * (ACSmarry.ADJINC / 1000000 )
ACSmarry['INCOMEP'] = ACSmarry.PINCP * (ACSmarry.ADJINC / 1000000 )
ACSmarry['EARNP'] = ACSmarry.PERNP * (ACSmarry.ADJINC / 1000000 )

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
#print(ACSmarry[['ADJINC', 'WAGP', 'WAGESP', 'PINCP', 'INCOMEP', 'PERNP', 'EARNP']].head())

     ADJINC     WAGP      WAGESP    PINCP     INCOMEP    PERNP       EARNP
RT
P   1011189      0.0      0.0000  10000.0  10111.8900      0.0      0.0000
P   1011189  38500.0  38930.7765  38500.0  38930.7765  38500.0  38930.7765
P   1011189  72000.0  72805.6080  82000.0  82917.4980  72000.0  72805.6080
P   1011189      0.0      0.0000   8700.0   8797.3443      0.0      0.0000
P   1011189  18000.0  18201.4020  18300.0  18504.7587  18000.0  18201.4020

In [60]:
#Running summary statistics for continuous variables
ACScont = ACSmarry[['WAGESP', 'INCOMEP', 'EARNP', 'AGEP', 'JWMNP', 'WKHP']]

ACScont.describe().astype('int64')

        WAGESP  INCOMEP    EARNP     AGEP    JWMNP     WKHP
count  2530726  2530726  2530726  2530726  1362382  1627454
mean     31072    43202    33157       49       27       38
std      55479    62819    58403       18       23       12
min          0    -9201    -9100       18        1        1
25%          0     9950        0       34       12       35
50%      10213    26290    14156       50       20       40
75%      43481    53593    45503       64       35       44
max     744235  1580488  1274098       96      160       99

In [75]:
#FRequency tables for discrete variables

ACSmarry['JWTR'].value_counts(sort=True) #Means of transportation to work

#MAK, SHOULD WE TRANSFORM THIS VARIABLE/COLLAPSE INTO MORE CONSDENSED CAT?

1.0     1231373
11.0      80443
10.0      40975
2.0       29522
4.0       25376
12.0      11953
5.0        8971
9.0        7865
8.0        2562
7.0        2372
3.0         772
6.0         641
Name: JWTR, dtype: int64

In [99]:
ACSmarry['MAR'].value_counts(sort=True) #Marital status

1    1360300
5     671044
3     285664
2     169374
4      44344
Name: MAR, dtype: int64

In [101]:
ACSmarry['MAR'].value_counts(sort=True, normalize=True) * 100 #Marital status

1    53.751374
5    26.515869
3    11.287828
2     6.692704
4     1.752224
Name: MAR, dtype: float64

In [77]:
ACSmarry['MARHT'].value_counts(sort=True) #Number of times married

1.0    1385866
2.0     366893
3.0     106923
Name: MARHT, dtype: int64

In [89]:
#Marital status by the number of times married
pd.crosstab(ACSmarry.MAR, ACSmarry.MARHT, margins=True)

MARHT      1.0     2.0     3.0      All
MAR
1      1031074  257976   71250  1360300
2       125754   33561   10059   169374
3       196988   66202   22474   285664
4        32050    9154    3140    44344
All    1385866  366893  106923  1859682

In [90]:
#MAK, HOW DO WE ADD THE DATA LABLE VALUES TO MAKE THE TABLES MORE READABLE??  IMPORT SAS FILES?

In [96]:
#Marital status by the number of times married
pd.crosstab(ACSmarry.MAR, ACSmarry.MARHT, margins=True, normalize='index')\
    .round(4)*100

MARHT    1.0    2.0   3.0
MAR
1      75.80  18.96  5.24
2      74.25  19.81  5.94
3      68.96  23.17  7.87
4      72.28  20.64  7.08
All    74.52  19.73  5.75

In [103]:
#Race by Marital status

pd.crosstab(ACSmarry.MAR, ACSmarry.RAC1P, margins=True)

RAC1P        1       2      3     4     5       6     7      8      9      All
MAR
1      1116910   80954   8567   558  1335   85886  2009  41848  22233  1360300
2       138422   17937   1417   102   231    6325   213   2706   2021   169374
3       228406   32913   2873   136   444    7265   349   7162   6116   285664
4        28497    9335    567    42   100    1500    86   2962   1255    44344
5       457907  107909   7831   695  1219   37490  1373  33142  23478   671044
All    1970142  249048  21255  1533  3329  138466  4030  87820  55103  2530726

In [104]:
#Marital status by the number of times married
pd.crosstab(ACSmarry.MAR, ACSmarry.RAC1P, margins=True, normalize='index')\
    .round(4) *100

RAC1P      1      2     3     4     5     6     7     8     9
MAR
1      82.11   5.95  0.63  0.04  0.10  6.31  0.15  3.08  1.63
2      81.73  10.59  0.84  0.06  0.14  3.73  0.13  1.60  1.19
3      79.96  11.52  1.01  0.05  0.16  2.54  0.12  2.51  2.14
4      64.26  21.05  1.28  0.09  0.23  3.38  0.19  6.68  2.83
5      68.24  16.08  1.17  0.10  0.18  5.59  0.20  4.94  3.50
All    77.85   9.84  0.84  0.06  0.13  5.47  0.16  3.47  2.18

In [97]:
#contingency_table = pd.crosstab(
 #   workhour_by_sex['sex'],
  #  workhour_by_sex['hours_per_week_categories'],
   # margins = True
#)
#contingency_table

In [ ]:
#Assigns the frequency values
#malecount = contingency_table.iloc[0][0:6].values
#femalecount = contingency_table.iloc[1][0:6].values

#Plots the bar chart
#fig = plt.figure(figsize=(10, 5))
#sns.set(font_scale=1.8)
#categories = ["0-9","10-19","20-29","30-39","40-49","50+"]
#p1 = plt.bar(categories, malecount, 0.55, color='#d62728')
#p2 = plt.bar(categories, femalecount, 0.55, bottom=malecount)
#plt.legend((p2[0], p1[0]), ('Male', 'Female'))
#plt.xlabel('Hours per Week Worked')
#plt.ylabel('Count')
#plt.show()

In [2]:
#Generate list of weights of the format PWGTP1 to PWGTP80
#weight_index = range(1,81,1)
#weight_list = ['PWGTP'+str(i) for i in weight_index]
#print(weight_list)

#THIS IS NOT 100% CORRECT.  THE WEIGHTS ALREADY EXIST ON THE CSV FILES