In [1]:
#The purpose of this notebook is to ingest the ACS2017 data file and selet variables for wrangling to create ACSdata
#The preliminary ACS files are stored to the local machine and not the report.

In [2]:
#Importing Python packages
import pandas as pd
import psycopg2
import sys, os

In [3]:
#Setting up and accessing PostgreSQL
#load PSQL DATABASE 

#Set up a connection to the postgres server
PGHOST="stayintouch.net"
PGDATABASE="census"
PGUSER="census"

# Ask Maria for password and type inside "" THEN PLEASE DELETE PASSWORD SO IT'S NOT PUBLIC
PGPASSWORD="census"

conn_string = "host="+ PGHOST +" port="+ "54321" +" dbname="+ PGDATABASE +" user=" + PGUSER \
+" password="+ PGPASSWORD

conn=psycopg2.connect(conn_string)
print("Connected!")

Connected!

In [4]:
#Creating cursor object and functions to query data

#Create a cursor object

cursor = conn.cursor()

#Specific example to query data from database

def load_data(schema, table):

    sql_command = "SELECT COUNT(*) FROM {}.{};".format(str(schema), str(table))
    
    # will print command above
    print (sql_command)

    # Load the data
    data = pd.read_sql(sql_command, conn)

    # will print shape
    print(data.shape)
    
    #will return head
    return (data.head())

# general example to query data from database

def run_sql(sql):

    sql_command = sql
    #print (sql_command)

    # Load the data
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    
    #return (data.head())
    return (data)

In [5]:
# specific example using load_data

load_data('census','pop')

SELECT COUNT(*) FROM census.pop;
(1, 1)

      count
0  15758937

In [ ]:
# querying and creating dataframe

population_table = run_sql("SELECT  RT ,  SERIALNO ,  SPORDER , PWGTP , CIT , COW , DIVISION , PUMA , ST , REGION ,\
            AGEP , ADJINC , JWMNP , JWTR ,  JWRIP , MAR , MARHT , MIG , MIL , RELP , SCHL , SEX , PAP , WAGP ,\
            WKHP , WRK , DIS , DRIVESP , ESR , FOD1P , HICOV , JWAP , JWDP , MIGPUMA , MSP , NATIVITY , OC ,\
            OCCP , PAOC , PERNP , PINCP , RAC1P ,  HISP ,  FHISP ,  SOCP\
        FROM census.pop;")

population_table.head()

In [ ]:
type(population_table)

In [ ]:
ACSdata = population_table

In [ ]:
#Concatenating the daata frames

#ACSdata = pd.concat([acs1, acs2], axis=0, ignore_index=False)
#print(ACSdata.head())
ACSdata.shape

In [ ]:
#Data Type Information on the dataset
ACSdata.info()

In [11]:
#Checking for duplicates in the person records (grouped by household)

#How many unique households are in the dataset?
ACSdata['serialno'].nunique()

6872939

In [12]:
#What is the min/max of people in any household?
ACSdata['sporder'].describe().astype('int64')

count    15758937
mean            2
std             1
min             1
25%             1
50%             2
75%             3
max            20
Name: sporder, dtype: int64

In [13]:
#ACSdata['duplicate'] = ACSdata.duplicated(subset=['SPORDER', 'SERIALNO'], keep=False)
#print('duplicate')

#Confirmed no duplicate SPORDERS in ACSdata

In [ ]:
#Writinig dataframe to the PostgreSQL sever

from sqlalchemy import create_engine
import io

engine = create_engine('postgresql+psycopg2://census:census@stayintouch.net:54321/census')

df.head(0).to_sql('ACSdata', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'ACDSdata', null="") # null values become ''
conn.commit()

In [17]:
#def push_data(schema, table):

    #sql_command = "SELECT COUNT(*) FROM {}.{};".format(str(schema), str(table))
 #   sql_str = " (rt str ,serialno str ,sporder int64 ,pwgtp int64 ,cit int64 ,cow float64,\
  #              division int64 ,puma int64 ,st int64 ,region int64 ,agep int64 ,\
   #             adjinc int64 ,jwmnp float64 ,jwtr float64 ,jwrip float64 ,\
    #            mar int64 ,marht float64 ,mig float64 ,mil float64 ,relp int64 ,\
     #           schl float64 ,sex int64 ,pap float64 ,wagp float64 ,wkhp float64 ,\
      #          wrk float64 ,dis int64 ,drivesp float64 ,esr float64 ,fod1p float64 ,hicov int64 ,\
       #         jwap float64 ,jwdp float64 ,migpuma float64 ,msp float64 ,nativity int64 ,oc float64 ,\
        #        occp float64 ,paoc float64 ,pernp float64 ,pincp float64 ,rac1p int64 ,hisp int64 ,\
         #       fhisp int64 , socp str,) "
    #print(sql_str)
    #sql_command = "CREATE TABLE{}.{} sql_str;".format(str(schema), str(table))
    #sql_command = "CREATE TABLE census.population_table "+sql_str
    # will print command above
    #print (sql_command)

    # Load the data
    #data = pd.read_sql(sql_command, conn)

    # will print shape
    #print(data.shape)
    
    #will return head
    #return (data.head())

In [18]:
#Upload data to SQL server
print(schema)
print(table)
#ACSdata.to_sql(sql_str, con=conn_string)

NameError: name 'schema' is not defined